@import url(variables.css);

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body.page {
    display: grid;
    grid-template-rows: 76px auto 302px;
    grid-template-areas:
        "header"
        "main"
        "footer";

    max-width: 1440px;
    min-height: 100dvh;

    background: var(--bg-white);
    box-shadow: 8px 0 15px rgba(0, 0, 0, 0.1), -8px 0 15px rgba(0, 0, 0, 0.1);

    margin: 0 auto;
}

.container {
    padding-left: 120px;
    padding-right: 120px;
}