@import url("../variables.css");

.header__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--header-btn-bg);

    color: var(--header-btn-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    padding: 14px 20px;
    border: none;
    border-radius: 4px;

    cursor: pointer;

    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header__button:hover {
    background-color: var(--header-btn-hover-bg);
}

.header__button:active {
    background-color: var(--header-btn-active-bg);

    color: var(--header-btn-active-color);
}

.header__button:focus {
    box-shadow: 2px 2px 6px var(--header-btn-focus-shadow);

    outline: none;
    border-radius: 4px;
}